<div class="container-fluid">
    <header>
        <div class="limiter">
            <h3>Payment form</h3>
            <a href="https://www.rakuten.de"> <img src="assets/images/logo_de.svg" height="40"></a>
        </div>
    </header>
    
    <div class="thank-you">
        <h2>Your order is being processed. </h2>
        <h3>Thank you for choosing <a class="brand" href="https://www.rakuten.de"> <span>Rakuten</span></a></h3>
    </div>
    
</div>
