.payment-form, 
.thank-you{ max-width:700px;  background-color:#fff;  margin:100px auto;  overflow:hidden;  padding:25px;  color:#4c4e56}

.payment-form label{ width:100%;  margin-bottom:10px;  font-weight:100}

.payment-form .form-heading h3{ font-family:'Open Sans',sans-serif;  color:#4c4e56;  font-weight:700}

.payment-form .form-content{ font-size:18px;  margin-top:20px;  position:relative}

.payment-form .form-content .form-group{ float:left;  margin-bottom:15px}

.payment-form .form-content .form-control{ line-height:40px;  padding:0 16px}

.payment-form .fname, 
.payment-form .lname, 
.payment-form .address, 
.payment-form .owner{ width:100%}

.payment-form .city, 
.payment-form #card-number-field{ width:63%;  margin-right:10px}

.payment-form #country{ float:left;  margin:0;  width:30%}

.payment-form #city{ width:70%}

.payment-form .scost, 
.payment-form .CVV{ width:35%}

.payment-form #expiration-date{ width:49%}

.payment-form #credit_cards{ width:50%;  margin-top:25px;  text-align:right}

.payment-form #pay-now{ width:100%;  margin-top:25px}

.payment-form .form-content .btn{ width:100%;  margin-top:3px;  font-size:24px;  background-color:#bf0000;  color:white}

.payment-form .form-content select{ padding:10px;  margin-right:15px}

.transparent{ opacity:0.2}

@media(max-width:650px){ .payment-form #card-number-field, .payment-form #country, .payment-form #city, .payment-form .city, .payment-form .scost, .payment-form .CVV, .payment-form #expiration-date, .payment-form #credit_cards{ width:100%}
 .payment-form #credit_cards{ text-align:left}
}

.examples{max-width:700px; background-color:#fff; margin:0 auto 75px; padding:30px 50px; color:#4c4e56}

.examples-note{    text-align:center;     font-size:14px;     max-width:370px;     margin:0 auto 40px;     line-height:1.7;     color:#7a7a7a}

.examples table{    margin:5px 0 0 0;     font-size:14px}

.ui-menu .ui-menu-item a, 
.ui-menu .ui-menu-item a.ui-state-hover, 
.ui-menu .ui-menu-item a.ui-state-active{    font-weight:normal;     margin:-1px;     text-align:left}

.ui-autocomplete-loading{    background:white url("../images/ui-anim_basic_16x16.gif") right center no-repeat}
.ui-menu-item-wrapper:focus, 
.ui-menu-item-wrapper:hover, 
.ui-menu-item:focus, 
.ui-menu-item:hover, 
a.ui-state-active:hover, 
a.ui-state-active:focus, 
a.ui-state-active:visited, 
.ui-menu .ui-menu-item a.ui-state-hover, 
.ui-menu .ui-menu-item a.ui-state-active{     outline-color:#bf0000;      color:#bf0000}

input:invalid, 
textarea:invalid{    border:1px solid red}
  
input:valid{border:1px solid #ccc}

label.error, .card-error{    float:none;     color:red;     padding-left:.5em;     vertical-align:top}
.card-error{    display:none}
.thank-you{    text-align:center}
.brand{    color:#bf0000}

*{    margin:0;     padding:0;     box-sizing:border-box}

body{    font:normal 18px sans-serif;     color:#333;     background-color:#eee}

.container-fluid{    padding:0;     margin:0}

header{    box-sizing:border-box;     text-align:center;     width:100%;     padding:25px 40px;     background-color:#fff;     overflow:hidden}

header .limiter{    max-width:1000px;     margin:0px auto}

header h3{    font:normal 24px/1.5 'Open Sans',sans-serif;     float:left;     color:black;     margin:0}

header a{    color:#fff;     float:right;     text-decoration:none;     display:inline-block;     border-radius:3px;     font:bold 14px/1 'Open Sans',sans-serif;  text-transform:uppercase}

header a:hover{ color:#fff;  text-decoration:none;  opacity:1}

@media (max-width:850px){ header h3{ float:none;  text-align:center}

 header a{ margin-top:20px;  float:none}

}